
/*******************************************************************************
 *                                                                             *
 * ListView and ListCell                                                       *
 *                                                                             *
 ******************************************************************************/

.list-cell {
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
       -fx-background-color: #8f8;
       -fx-background-insets: 0 ;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: #F9690E;
    -fx-text-fill: white; /* 5 */
    -fx-background-insets: 0 ;
}
.list-cell { -fx-text-fill: black; /* 5 */ 
	-fx-background-insets: 0 ;
}
.list-cell:odd { -fx-background-color: #BDC3C7; /* 1 */ 
	-fx-background-insets: 0 ;
}
.list-cell:even { -fx-background-color: #BDC3C7; /* for information */ 
	-fx-background-insets: 0 ;
}
.list-cell:filled:hover { 
    -fx-background-color: #BDC3C7; /* passa o mouse em cima aparece a cor */
    -fx-text-fill: white; /* 5 */
    -fx-background-insets: 0 ;
}