@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.tree-table-view{
    -fx-tree-table-color: TRANSPARENT;
    -fx-tree-table-rippler-color : TRANSPARENT;

}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: #E67E22;
    -fx-table-cell-border-color: #f3f3f3;
    
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 8 5 8 5 ;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 9 0 9 0 ;
    -fx-alignment: center;
    
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    
    -fx-font-family: "Roboto";
	-fx-font-size: 15px;
	-fx-text-fill:#6C7A89;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
    -fx-alignment: CENTER-RIGHT;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
    -fx-alignment: CENTER-RIGHT;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
    -fx-alignment: CENTER-RIGHT;
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40);
}

